<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/static/css/mvp.css" />
    </head>
    <body>
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <aside>
            {{ range $key, $value := .Pages }}
            <li>
                <a href="/{{ $value }}">{{ $key }}</a>
            </li>
            {{ end }}
        </aside>

        <main>
            <div class="container">{{ .Content }}</div>
        </main>

        <footer>
            <p>&copy; 2025 - Today I Learned</p>
        </footer>
    </body>
</html>
