<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/css/pico.classless.min.css" />
    </head>
    <body>
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <aside>
            <ul>
                {{ range .Menu }} {{ if .Category }} {{ if not .Item }}
                <li class="category"><strong>{{ .Category }}</strong></li>
                {{ else }}
                <li><a href="/{{ .Path }}">{{ .Item }}</a></li>
                {{ end }} {{ end }} {{ end }}
            </ul>
        </aside>

        <main>
            <div class="container">{{ .Content }}</div>
        </main>

        <footer>
            <p>&copy; 2025 - Today I Learned</p>
        </footer>
    </body>
</html>
